In [1]:
# list_Task-2 

# l = [3,4,5,6,7 , [23,456,67,8,78,78] , [345,56,87,8,98,9] , (234,6657,6) , {"key1" :"sudh" , 234:[23,45,656]}]
# 1 . Try to reverse a list 
# 2. try to access 234 out of this list 
# 3 . try to access 456 
# 4 . Try to extract only a list collection form list l 
# 5 . Try to extract "sudh"
# 6 . Try to list all the key in dict element avaible in list 
# 7 . Try to extract all the value element form dict available in list

In [18]:
l = [3,4,5,6,7 , [23,456,67,8,78,78] , [345,56,87,8,98,9] , (234,6657,6) , {"key1" :"sudh" , 234:[23,45,656]}]

In [17]:
# 1 . Try to reverse a list 
print(l[:-1])

[{'key1': 'sudh', 234: [23, 45, 656]}, (234, 6657, 6), [345, 56, 87, 8, 98, 9], [23, 456, 67, 8, 78, 78], 7, 6, 5, 4]

In [19]:
# 2. try to access 234 out of this list 
l[7][0]

234

In [21]:
# 3 . try to access 456 
l[5][1]

456

In [25]:
# 4 . Try to extract only a list collection form list l 
l[5:7]

[[23, 456, 67, 8, 78, 78], [345, 56, 87, 8, 98, 9]]

In [26]:
# 5 . Try to extract "sudh"
# 6 . Try to list all the key in dict element avaible in list 
# 7 . Try to extract all the value element form dict available in list

In [27]:
l

[3,
 4,
 5,
 6,
 7,
 [23, 456, 67, 8, 78, 78],
 [345, 56, 87, 8, 98, 9],
 (234, 6657, 6),
 {234: [23, 45, 656], 'key1': 'sudh'}]

In [31]:
l[-1]['key1']

'sudh'

In [36]:
# 6 . Try to list all the key in dict element avaible in list 
list(l[-1].keys())

['key1', 234]

In [37]:
# 7 . Try to extract all the value element form dict available in list
list(l[8].values())

['sudh', [23, 45, 656]]