In [ ]:
# q1 :
# ineruon 
# ineruon ineruon 
# ineruon ineruon ineruon
# ineruon ineruon ineruon ineruon

# q2 - 

#           ineruon
#     ineruon      ineruon
# ineruon		ineruon 	ineruon
# 	  ineruon		 ineruon
# 		     ineruon

# l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
#             "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]

# q3 : Try to extract all the list entity 
# q4 : Try to extract all the dict enteties
# q5 : Try to extract all the tuples entities
# q6 : Try to extract all the numerical data it may b a part of dict key and values 
# q7 : Try to give summation of all the numeric data 
# q8 : Try to filter out all the odd values out all numeric data which is a part of a list 
# q9 : Try to extract "ineruon" out of this data
# q10 : Try to find out a number of occurances of all the data 
# q11 : Try to find out number of keys in dict element
# q12 : Try to filter out all the string data 
# q13 : Try to Find  out alphanum in data
# q14 : Try to find out multiplication of all numeric value in the individual collection inside dataset

In [9]:
# q1 :
# ineruon 
# ineruon ineruon 
# ineruon ineruon ineruon
# ineruon ineruon ineruon ineruon

row=int(input("enter num of rows: "))
for i in range(row+1):
    print("ineruon\t"*i)

enter num of rows: 5

ineruon
ineruon	ineruon
ineruon	ineruon	ineruon
ineruon	ineruon	ineruon	ineruon
ineruon	ineruon	ineruon	ineruon	ineruon

In [47]:
# q2 - 

#           ineruon
#     ineruon      ineruon
# ineruon		ineruon 	ineruon
# 	  ineruon		 ineruon
# 		     ineruon
# =========================================

row1= int(input("enter the odd num of rows u want:"))

for i in range(row1+1):
  if i <= (row1+1)/2:
    print(("ineruon "*i).center(30))
  else:
    print(("ineruon "*(row1+1-i)).center(30))

enter the odd num of rows u want:5

           ineruon
       ineruon ineruon
   ineruon ineruon ineruon
       ineruon ineruon
           ineruon

In [48]:

# l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
#             "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]

# q3 : Try to extract all the list entity 
# q4 : Try to extract all the dict enteties
# q5 : Try to extract all the tuples entities
# q6 : Try to extract all the numerical data it may b a part of dict key and values

IndentationError: ignored

In [50]:
 l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3": "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]

In [61]:
# q3 : Try to extract all the list entity 
for i in l:
  if type(i)== list:
    print(i)

[1, 2, 3, 4]
['ineuron', 'data science ']

In [62]:
# q4 : Try to extract all the dict enteties
for i in l:
  if type(i)== dict:
    print(i)

{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}

In [63]:
# q5 : Try to extract all the tuples entities
for i in l:
  if type(i)== tuple:
    print(i)

(2, 3, 4, 5, 6)
(3, 4, 5, 6, 7)

In [28]:
# q6 : Try to extract all the numerical data it may b a part of dict key and values
l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3": "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]
l1=[]
for i in l:
  if type(i)== list or type(i)== tuple or type(i)== set:
    for j in i:
      if type(j) == int :
        l1.append(j)
  if type(i) == dict :
    for k in i.items() :
      for g in k :
        if type(g) == int :
          l1.append(g)
print(l1)

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 3, 6, 7, 8]

In [29]:
# q7 : Try to give summation of all the numeric data 
# q8 : Try to filter out all the odd values out all numeric data which is a part of a list 
# q9 : Try to extract "ineruon" out of this data
# q10 : Try to find out a number of occurances of all the data 
# q11 : Try to find out number of keys in dict element
# q12 : Try to filter out all the string data 
# q13 : Try to Find  out alphanum in data
# q14 : Try to find out multiplication of all numeric value in the individual collection inside dataset

In [30]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {3: 6, 7: 8, 'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar'},
 ['ineuron', 'data science ']]

In [33]:
# q7 : Try to give summation of all the numeric data 
l1=[]
for i in l:
  if type(i)== list or type(i)== tuple or type(i)== set:
    for j in i:
      if type(j) == int :
        l1.append(j)
  if type(i) == dict :
    for k in i.items() :
      for g in k :
        if type(g) == int :
          l1.append(g)
print(l1)
print("sum of all numeric data: ",sum(l1))

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 3, 6, 7, 8]
sum of all numeric data:  156

In [40]:
# q8 : Try to filter out all the odd values out all numeric data which is a part of a list
l2=[]
for i in l:
  if type(i)== list or type(i)== tuple or type(i)== set:
    for j in i:
      if type(j) == int :
        if j % 2 != 0:
          l2.append(j)
  if type(i) == dict :
    for k in i.items() :
      for g in k :
        if type(g) == int :
          if g % 2 != 0 :
            l2.append(g)
print(l2)

[1, 3, 3, 5, 3, 5, 7, 45, 5, 23, 3, 7]

In [67]:
# q9 : Try to extract "ineruon" out of this data
l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3": "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]
l3=[]
for i in l:
  if type(i)== list or type(i)== tuple or type(i)== set:
    for j in i:
      if j =="ineruon":
        l3.append(j)
  if type(i) == dict :
    for k in i.items() :
      for g in k :
        if g=="ineruon":
          l3.append(g)
l3

[]

In [73]:
# q10 : Try to find out a number of occurances of all the data
l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3": "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]
l4=[]
for i in l:
  if type(i)== list or type(i)== tuple or type(i)== set:
    for j in i:
      if type(j) == int or type(j)==str :
        l4.append(j)
  if type(i) == dict :
    for k in i.items() :
      for g in k :
        if type(g) == int or type(g)==str :
          l4.append(g)
for n in set(l4) : 
    print(n , ":" ,l4.count(n))

1 : 1
2 : 2
3 : 4
4 : 4
5 : 3
6 : 3
7 : 2
8 : 1
k3 : 1
kumar : 1
45 : 1
data science  : 1
sudh : 1
k2 : 1
ineuron : 2
23 : 1
k1 : 1

In [76]:
# q11 : Try to find out number of keys in dict element
l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3": "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]
l4=[]
for i in l:
  if type(i) == dict :
    print(len(i))

5

In [78]:
# q12 : Try to filter out all the string data
l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3": "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]
l5=[]
for i in l:
  if type(i)== list or type(i)== tuple or type(i)== set:
    for j in i:
      if type(j) == str :
        l5.append(j)
  if type(i) == dict :
    for k in i.items() :
      for g in k :
        if type(g) == str :
          l5.append(g)
print(l5)

['k1', 'sudh', 'k2', 'ineuron', 'k3', 'kumar', 'ineuron', 'data science ']

In [90]:
# q13 : Try to Find  out alphanum in data
l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3": "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]
l6=[]
for i in l:
  if type(i)== list or type(i)== tuple or type(i)== set:
    for j in i:
      if type(j) == str :
        l6.append(j)
  if type(i) == dict :
    for k in i.items() :
      for g in k :
        if type(g) == str :
          l6.append(g)

for n in l6:
  if type(n)== str:
    if n.isalnum() :
      print(n)

k1
sudh
k2
ineuron
k3
kumar
ineuron

In [105]:
# q14 : Try to find out multiplication of all numeric value in the individual collection inside dataset
l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3": "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]

for i in l:
  m=1
  if type(i)==list or type(i)==tuple or type(i)==set:
    for k in i:
      if type(k)==int:
        m=m*k
    print(type(i),m)
  elif type(i) == dict:
    for j in i.items() :
      for n in j :
        if type(n) == int:
          m = m*n
    print(type(i),m)

<class 'list'> 24
<class 'tuple'> 720
<class 'tuple'> 2520
<class 'set'> 20700
<class 'dict'> 1008
<class 'list'> 1

In [93]:

p.isalnum()

True